<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="icon" href="../static/image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../static/css/modify.css">
        <title>Modify Product</title>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="head_div">
            <h1>Modify Product</h1>
        </div>
        <input type="hidden" id="Sid">
        <!-- <input type="hidden" id="Sid" value="{{ StoreID }}"> -->
        <div class="container">
            <!-- top bar -->
            <div class="top_bar">
                <div class = storeName></div>
                <div class="store-btn">
                    <a href="/MyStore">MyStore</a>
                </div>
            </div>
            <div class="main">
                <!-- table -->
                <table id="productTable">
                    <thead>
                      <tr>
                        <th id="pid_th">Product ID</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th id="pro_th">promotion for this product?</th> 
                        <th>Remove</th>
                        <th>Update</th>
                        <th>Promotion</th>
                      </tr>
                    </thead>
                    <tbody>
                    <!-- example: -->
                      <!-- <tr>
                        <td><input type="number" class="Pid" name="productID" readonly="true" value="01"/></td>
                        <td><input type="text" name="productName" value="911 CAR"/></td>
                        <td><input type="number" name="productPrice" min="0.1" step="0.1"  value="350000"/></td>
                        <td><input type="text" name="boolean" value="No" readonly="true"/></td>
                        <td><button class="removeBtn">Remove</button></td>
                        <td><button class="updateBtn">Update</button></td>
                        <td><button class="addPromotionBtn">Add Promotion</button></td>
                      </tr> -->
                    </tbody>
                  </table>
            </div>
        </div>
        <script type="text/javascript" src="../static/js/modify.js"></script>
    </body>
</html>